body {
    box-sizing: border-box;
    margin: 0;
    background-color: #6439FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;

}

.data-hora {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em; 
    font-weight: 300; 
    color: #000000; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    padding: 15px; 
    display: inline-block; 
    font-family: "Comfortaa", sans-serif;  
}

.data-hora p {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
     
}


#btn-registrar-ponto {
    padding: 15px 30px;
    font-size: 150%;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: "Raleway", sans-serif;
    

}

#btn-registrar-ponto:hover {
    background-color: #f0f0f0; 
    transform: scale(1.05); 
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: auto; 
    height: auto;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: white;
    margin: 20% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: auto; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    display: block;
    text-align: center;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    
}

.modal-content p {
    margin: 10px;
    font-size: 1em;
}

.modal-content button {
    padding: 5px;
    margin-top: auto; 
    
}


.close {
    color: #6b6b6b;
    float: right;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e0e0e041;
    padding: 5px 10px;
    border-radius: 25%;
    border: 2px solid #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close:hover,
.close:focus {
    color: white;
    background-color: #ff0000;
    border-color: #ee0000;
}


#dialog-data, #dialog-hora {
    font-size: 1.5em;
    font-weight: 300;
    color: #000000;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    width: 500px;
}


#message {
    display: none; 
    padding: 15px;
    border-radius: 25px;
    background-color: #faf9ff;
    position: fixed;
    bottom: 150px; 
    left: 50%;
    transform: translateX(-50%);
    width: auto; 
    max-width: 300px; 
    min-width: 200px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    display: flex;
    align-items: center;
    z-index: 1000; 
    font-size: 125%;
    border: 1px solid transparent; 
}

#message.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

#message.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

#message-content {
    flex: 1; 
}

#close-message {
    cursor: pointer;
    font-size: 18px; 
    font-weight: bold;
    color: #721c24; 
    position: absolute;
    top: 1px;
    right: 10px;
}

#close-message:hover {
    color: #f00; 
}

select {
    padding: 10px;
    font-size: 1em;
    background-color: #6439FF;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 10px;
    font-family: "Raleway", sans-serif;
    position: relative;
    
    width: 300px;
}

select::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

select:hover {
    background-color: #6439FF;
    transform: scale(1.05);
}

button {
    padding: 10px;
    font-size: 1em;
    background-color: #6439FF;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    appearance: none; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 10px;
    font-family: "Raleway", sans-serif;
    
    
}

button:hover {
    background-color: #6439FF;
    transform: scale(1.05);
}


#dialog-historico {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#historico-table {
    width: 100%;
    border-collapse: collapse;
}

#historico-table th, #historico-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

#historico-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#btn-fechar-historico {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #6439FF;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

#btn-fechar-historico:hover {
    background-color: #6439FF;
}

#btn-historico {
    padding: 15px 30px;
    font-size: 150%;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: "Raleway", sans-serif;
    margin: 10px;
}

#btn-historico:hover {
    background-color: #f0f0f0; 
    transform: scale(1.05); 
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8); 
}

dialog::-webkit-details-marker {
    display: none;
}

#btn-limpar-historico {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #6439FF;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

#btn-limpar-historico:hover {
    background-color: #6439FF;
}


.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    font-size: 1rem;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}




