body {
    box-sizing: border-box;
    margin: 0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.data-hora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px; 
    margin-bottom: 15px;
}

.data-hora p {
    margin: 0;
}


#btn-registrar-ponto {
    padding: 5px;
    
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content {

    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 25vh;
    height: auto;
    font-family: 'LexendDeca-Regular';
    color: var(--title);
    font-size: 120%;
    position: relative;
    overflow: auto;
    flex-direction: column;
}

.modal-content p {
    margin: 10px;
    font-size: 1em;
}

.modal-content button {
    padding: 5px;
    margin-top: auto; 
}


.close {
    color: #6b6b6b;
    float: right;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e0e0e041;
    padding: 5px 10px;
    border-radius: 10%;
    border: 2px solid #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close:hover,
.close:focus {
    color: white;
    background-color: #ff0000;
    border-color: #ee0000;
}


